<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Authorization Service Integration Test] LOGIN </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: should allow to log in and store username after successful login </div></div>


"<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Authorization Service Integration Test] REGISTER </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: should allow to register </div></div>"

"<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Authorization Service Integration Test] REGISTER WITH ALREADY IN-USE EMAIL </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Should prevent from registering on already used e-mail </div></div>"

"<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Authorization Service Integration Test] REGISTER WITH INCORRECT EMAIL </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Should prevent from registering with incorrect email </div></div>"

"<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Authorization Service Integration Test] REGISTER WITH SHORT PASSWORD </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Should prevent from registering with short password </div></div>"

"<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Backend Service Integration Test] GET ALL TRIPS </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Should return all trips in type of array </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: cenaJednostkowa is present in response type </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: dataRozpoczecia is present in response type </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: dataZakonczenia is present in response type </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: docelowyKrajWycieczki is present in response type </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: id is present in response type </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: ileZarezerwowano is present in response type </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: linkDoZdj is present in response type </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: maxIloscMiejsc is present in response type </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: nazwa is present in response type </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: opis is present in response type </div></div>"

"<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Backend Service Integration Test] DELETE TRIP </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Should allow to permanently delete some trip </div></div>"

"<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Backend Service Integration Test] ADD TRIP </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Model trip to add and trip retrieved from backend after adding should have the same value of key cenaJednostkowa (object comparison) </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Model trip to add and trip retrieved from backend after adding should have the same value of key dataRozpoczecia (object comparison) </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Model trip to add and trip retrieved from backend after adding should have the same value of key dataZakonczenia (object comparison) </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Model trip to add and trip retrieved from backend after adding should have the same value of key docelowyKrajWycieczki (object comparison) </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Model trip to add and trip retrieved from backend after adding should have the same value of key ileZarezerwowano (object comparison) </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Model trip to add and trip retrieved from backend after adding should have the same value of key linkDoZdj (object comparison) </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Model trip to add and trip retrieved from backend after adding should have the same value of key maxIloscMiejsc (object comparison) </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Model trip to add and trip retrieved from backend after adding should have the same value of key nazwa (object comparison) </div></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Model trip to add and trip retrieved from backend after adding should have the same value of key opis (object comparison) </div></div>"

"<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Backend Service Integration Test] ADD ORDER </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Model order to add and order retrieved from backend after adding should be deeply equal </div></div>"

"<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Backend Service Integration Test] UPDATE TRIP </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Edited trip should have updated values </div></div>"


"<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Backend Service Integration Test] GET ROLE CHECK ADMIN </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Check if backend service correctly returns admin role </div></div>"


"<!--bindings={
  "ng-reflect-ng-for-of": "[object Object]"
}--><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "true"
}--><h3 class="ng-star-inserted"> [Backend Service Integration Test] GET ROLE CHECK STANDARD USER </h3><!--bindings={
  "ng-reflect-ng-if": "false"
}--></div><div class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="alert-success ng-star-inserted" ng-reflect-ng-class="[object Object]"> PASS: Check if backend service correctly returns standard user role </div></div>"


<!--$$('.container .pb-5')[0].innerHTML-->
